body {
    font-family: 'Skellyman';
    color: black;
    font-size: medium;
    font-style: normal;
    text-align: justify;
    margin: 15px;
    padding: 15px;
    background-color: ;
}
.back {
  font-family: 'Skellyman';
  color: black;
  background-color: #ffc0cd;
  border: none;
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}
.no-underline {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.back:hover {
  background-color: #ff97ac;
}
.back:active {
  background-color: #fe728e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.back:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}
#mainPh {
  width: 14%;
  float: left;
  margin: 5px 50px 10px 10px;
}
.button {
  font-family: 'CutOutOFFont';
  margin: auto;
  background-color: #ff69b4;
  border: none;
  color: rgb(32, 32, 32);
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}
.button:hover {
  background-color: #ff3d9e;
}
.button:active {
  background-color: #f71385;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}
.button-wrapper {
  display: flex;
  align-items: center;
}
#photo {
  margin-top: 10px;
  padding-top: 10px;
  margin-left: 7%;
}
.grid-container {
  display: grid;
  grid-gap: 5px;
}

.image-grid {
  position: relative;
  break-inside: avoid;
  display: inline-block;
  text-align: center;
  width: 250px; /* Set a fixed width for the image grid */
  margin: 10px;
}

.image-grid {
  grid-row-end: span 1;
  overflow: hidden;
} 

.image-grid img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-out;
}

.image-grid:hover img {
  transform: scale(1.05);
} 





